.canvas-info {
    font-size: 0.85em;
    white-space: nowrap;
    background: rgba(255, 255, 255, 0.66);
    border-radius: 0.25rem;
    border: 1px solid #ddd;
    padding: 0 0.4rem;
    height: 2rem;
    display: flex;
    align-items: center;
}