.ghost {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

    div {
        width: 40%;
        height: 0.75rem;
        opacity: 20%;
        border-radius: 0.25rem;
        background-color: #525252;

        &:nth-child(2), &:nth-child(4) {
            width: 60%;
        }

        &:nth-child(3), &:nth-child(5) {
            width: 80%;
        }

        &:nth-child(6) {
            width: 100%;
        }

        &:nth-child(0) {
            opacity: unset;
        }

        &:nth-child(1) {
            opacity: 80%;
        }

        &:nth-child(2) {
            opacity: 60%;
        }

        &:nth-child(3) {
            opacity: 40%;
        }
    }
}
