.results {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    scrollbar-color: var(--color-neutral-500) transparent;
    scrollbar-gutter: stable;
    scrollbar-width: thin;

    > ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    > .loading-results {
        height: 1px;
    }
}
