@layer components {
  .tooltip {
    z-index: 50;
    max-width: 240px;
    overflow: hidden;
    border: 1px solid rgb(255 255 255 / 0.1);
    background: var(--color-neutral-700);
    padding: var(--s12);
    color: var(--color-brand-white);
    font-family: var(--font-sans);
    font-size: 0.625rem;
    line-height: 0.75rem;
    box-shadow:
      0 6px 14px rgb(0 0 0 / 0.25),
      0 25px 25px rgb(0 0 0 / 0.22),
      0 56px 34px rgb(0 0 0 / 0.13),
      0 100px 40px rgb(0 0 0 / 0.04);
  }
}
