.control-bar {
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: white;
    padding: 0.5rem;
    border-radius: 0.25rem;

    opacity: 0.7;
    &:hover {
        opacity: 1
    }
    transition: opacity 0.2s;

    button {
        background: #f0f0f0;
        border: 1px solid #ddd;
        border-radius: 0.2rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0.25rem 0.5rem;

        &:disabled {
            opacity: 1;
            color: grey;
        }

        &.active {
            font-weight: bold;
            background: #ddd;
        }
    }
}