.canvas-label-bar {
  align-items: flex-end;
}

.canvas-label {
  .scan {
    display: inline-flex;
    flex-shrink: 0;
    gap: 0.35rem;
  }

  .document:not([data-edge]) {
    display: none;
  }

  &:hover .document {
    display: inline-flex;
  }
}
