.truncated-title {
  display: inline-flex;
  min-width: 0;
  white-space: pre;

  .head {
    min-width: var(--tail-length);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .tail {
    flex-shrink: 0;
  }
}
